
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->
<head>
    <meta charset=utf-8>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>添加分类 - 会员中心</title>
<script type='text/javascript'>var cscms_path='http://www.27pan.com/';</script>
<link rel='stylesheet' href='http://www.27pan.com/packs/layui/css/layui.css'>
<script type='text/javascript' src='http://www.27pan.com/packs/layui/layui.js'></script>
<script type='text/javascript' src='__PUBLIC__/web/bootstrap/jquery.min.js'></script>
<script type='text/javascript' src='__PUBLIC__/web/bootstrap/cscms.js'></script>
    <meta name="Keywords" content="27盘,视频cdn,视频网盘,免费视频网盘" />
    <meta name="Description" content="27盘致力打造全国最大的永久免费CDN多媒体加速方案！
" />
            <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="https://cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="__PUBLIC__/web/bootstrap/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="__PUBLIC__/web/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="__PUBLIC__/web/bootstrap/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="__PUBLIC__/web/bootstrap/daterangepicker.min.css" rel="stylesheet" type="text/css" />
        <link href="__PUBLIC__/web/bootstrap/morris.css" rel="stylesheet" type="text/css" />
        <link href="__PUBLIC__/web/bootstrap/fullcalendar.min.css" rel="stylesheet" type="text/css" />
        <link href="__PUBLIC__/web/bootstrap/jqvmap.css" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="__PUBLIC__/web/bootstrap/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="__PUBLIC__/web/bootstrap/plugins.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <link href="__PUBLIC__/web/bootstrap/layout.min.css" rel="stylesheet" type="text/css" />
        <link href="__PUBLIC__/web/bootstrap/themes/light.min.css" rel="stylesheet" type="text/css" id="style_color" />
        <link href="__PUBLIC__/web/bootstrap/custom.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME LAYOUT STYLES --> 
         <link href="__PUBLIC__/web/bootstrap/bootstrap-select.min.css" rel="stylesheet" type="text/css" /> 
		
		<script type="text/javascript">
		var filename=window.location.pathname;    
	   $(function(){
		  $("a[href='"+filename+"']").parent().addClass('active');
		});
	</script>
		 
	</head>
    <body class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo">
        <!-- BEGIN HEADER -->
            <include file="Public/header" />

        <!-- END HEADER -->
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN SIDEBAR -->
 <div class="page-sidebar-wrapper">
	<!-- BEGIN SIDEBAR -->
	<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
	<!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
	<include file="Public/left" />
	<!-- END SIDEBAR -->
</div> 
 
            <!-- END SIDEBAR -->
         
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE HEAD-->
                
               

                    <!-- END PAGE HEAD-->
                    <!-- BEGIN PAGE BREADCRUMB -->
              
                    <!-- END PAGE BREADCRUMB -->
                    <!-- BEGIN PAGE BASE CONTENT -->
                    
                    
                            <div class="row" >
                            <div class="col-md-12">
                                <!-- BEGIN VALIDATION STATES-->
                                <div class="portlet light portlet-fit portlet-form bordered">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="fa fa-plus fa-lg font-blue"></i>
                                            <span class="caption-subject font-blue sbold uppercase">添加分类 &nbsp;</span>
 
                                              <span class="caption-helper"> （你总共有  {$number}   个分类） </span>
 
                                        </div>
 
                                    </div>
                                    <div class="portlet-body">
                                        <!-- BEGIN FORM-->
                                        <form  action="{:U('Vod/eclass')}" class="form-horizontal" method="post" >
                     <div class="form-body" style="padding-bottom: 0;">
 
                                            </div>
 
                                            <div class="form-body">
 
  
                               
                                 <div class="form-group">
                                                  <label class="control-label col-md-3">上级分类
                                                        <span class="required" aria-required="true">   </span>
                                                    </label>
                                                <div class="col-md-6">
                                              <select name="pid" class="bs-select form-control" title="为空即添加一级分类...">
												{$mycat}
                                               
                                                    
                                                </select>
                                                </div>
                                            </div>
                                            
                                
                      
                                                <div class="form-group">
                                         
                                                    <label class="control-label col-md-3">分类名称
                                                        <span class="required"> * </span>
                                                    </label>
                                                    <div class="col-md-6">
                                                    	  <input type="text" name="ucat" required  lay-verify="required" placeholder="请输入分类名称" value="{$cat.ucat}"   class="form-control"  placeholder="请填写视频名称...（默认为上传文件名）"/> 
                                                        </div>
                                                </div>
                                     <input type="hidden" name="id" value="0">
                                            <div class="form-actions">
                                                <div class="row">
                                                    <div class="col-md-offset-3 col-md-9">
                                                        <button type="submit" lay-submit lay-filter=""  class="btn btn-lg green"><i class="fa fa-check"></i> 提交 </button>
                                                        <button type="reset" class="btn btn-lg grey-salsa btn-outline" ><i class="fa fa-refresh"></i> 重置</button>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                  
 
 
 
 
                                 
                                        </form>
                                        <!-- END FORM-->
                                        
                                        
                                        
                                
                                </div>
                                <!-- END VALIDATION STATES-->
                            </div>
                        </div>
           
                    
                    

                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
            <!-- BEGIN QUICK SIDEBAR -->
  
            <!-- END QUICK SIDEBAR -->
        </div>
                <div class="page-footer">
            <div class="page-footer-inner"> <script>document.write(new Date().getFullYear());</script>
 &copy; 版权所有
                <a target="_blank" href="http://www.27pan.com">www.27PAN.com</a> &nbsp;|&nbsp;
                 永久免费的CDN多媒体网盘
            </div>
            <div class="scroll-to-top">
                <i class="icon-arrow-up"></i>
            </div>
        </div> 
<!-- END CONTAINER -->
         <!--[if lt IE 9]>
<script src="/assets/global/plugins/respond.min.js"></script>
<script src="/assets/global/plugins/excanvas.min.js"></script> 
<script src="/assets/global/plugins/ie8.fix.min.js"></script> 
<![endif]-->
        <!-- BEGIN CORE PLUGINS -->
        <script src="http://www.27pan.com/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="http://www.27pan.com/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="http://www.27pan.com/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
        <script src="http://www.27pan.com/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="http://www.27pan.com/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="http://www.27pan.com/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="http://www.27pan.com/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="http://www.27pan.com/assets/global/scripts/app.min.js" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="http://www.27pan.com/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <script src="http://www.27pan.com/assets/layouts/layout4/scripts/layout.min.js" type="text/javascript"></script>
        <script src="http://www.27pan.com/assets/layouts/layout4/scripts/demo.min.js" type="text/javascript"></script>
        <script src="http://www.27pan.com/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
        <script src="http://www.27pan.com/assets/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
 
 
     
<script type="text/javascript">
    $(document).ready(function() {
    	$('#a2').addClass('active');
    });
</script>
</body>
</html> 
 