
 <!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->
<head>
    <meta charset=utf-8>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
     <title>我收藏的视频 - 会员中心</title>
<script type='text/javascript'>var cscms_path='http://www.27pan.com/';</script>
<link rel='stylesheet' href='http://www.27pan.com/packs/layui/css/layui.css'>
<script type='text/javascript' src='http://www.27pan.com/packs/layui/layui.js'></script>
<script type='text/javascript' src='__PUBLIC__/web/bootstrap/jquery.min.js'></script>
<script type='text/javascript' src='__PUBLIC__/web/bootstrap/cscms.js'></script>
    <meta name="Keywords" content="27盘,视频cdn,视频网盘,免费视频网盘" />
    <meta name="Description" content="27盘致力打造全国最大的永久免费CDN多媒体加速方案！
" />
            <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="https://cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="__PUBLIC__/web/bootstrap/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="__PUBLIC__/web/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="__PUBLIC__/web/bootstrap/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="__PUBLIC__/web/bootstrap/daterangepicker.min.css" rel="stylesheet" type="text/css" />
        <link href="__PUBLIC__/web/bootstrap/morris.css" rel="stylesheet" type="text/css" />
        <link href="__PUBLIC__/web/bootstrap/fullcalendar.min.css" rel="stylesheet" type="text/css" />
        <link href="__PUBLIC__/web/bootstrap/jqvmap.css" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="__PUBLIC__/web/bootstrap/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="__PUBLIC__/web/bootstrap/plugins.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <link href="__PUBLIC__/web/bootstrap/layout.min.css" rel="stylesheet" type="text/css" />
        <link href="__PUBLIC__/web/bootstrap/themes/light.min.css" rel="stylesheet" type="text/css" id="style_color" />
        <link href="__PUBLIC__/web/bootstrap/custom.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME LAYOUT STYLES --> 
         <link href="__PUBLIC__/web/bootstrap/bootstrap-select.min.css" rel="stylesheet" type="text/css" /> 
      <link href="__PUBLIC__/web/bootstrap/bootstrap-modal-bs3patch.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/web/bootstrap/bootstrap-modal.css" rel="stylesheet" type="text/css" />
    <script type='text/javascript' src='__PUBLIC__/web/bootstrap/user.js'></script>
 
 <script type="text/javascript">
		var filename=window.location.pathname;    
	   $(function(){
		  $("a[href='"+filename+"']").parent().addClass('active');
		});
	</script>
 
 <style>
.table th, .table td { 
text-align: center;
vertical-align: middle!important;
}
 .modal-body img{
		float:left;
		display:block;
		width:180px;
		height:100px;
		margin: 3px;
		}
	.clear{clear:both}
 </style>
</head>
    <body class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo">
        <!-- BEGIN HEADER -->
            <include file="Public/header" />
        

        <!-- END HEADER -->
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN SIDEBAR -->
 <div class="page-sidebar-wrapper">
	<!-- BEGIN SIDEBAR -->
	<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
	<!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
	<include file="Public/left" />
	<!-- END SIDEBAR -->
</div> 
 
            <!-- END SIDEBAR -->
         
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE HEAD-->
                
               

                    <!-- END PAGE HEAD-->
                    <!-- BEGIN PAGE BREADCRUMB -->
              
                    <!-- END PAGE BREADCRUMB -->
                    <!-- BEGIN PAGE BASE CONTENT -->
                    
                      <div class="row">
                        <div class="col-md-12">
                            <!-- Begin: life time stats -->
                            <div class="portlet light bordered">
                                           <div class="portlet-title">
                                        <div class="caption">
                                            <i class="fa fa-heart fa-lg font-blue"></i>
                                            <span class="caption-subject font-blue sbold uppercase">我的收藏 &nbsp;</span>
 
                                           <span class="caption-helper"> （你总共收藏了  {$num} 部视频） </span>
 
                                        </div>
                                    </div>
                       
                                <div class="portlet-body">
                                   <div class="tabbable-line">
                                        <ul class="nav nav-tabs">
                                      <li ><a href="{:U('Vod/fav')}">全部视频</a></li>
												<volist name='cate' id='vo'>
								               	<li><a href="{:U('Vod/fav',array('id'=>$vo['id']))}">{$vo.name}</a></li>
												</volist>
	                                  </ul>
                                        <div class="tab-content">
                                        	
                                            <div class="tab-pane active" id="overview_1">
                                                    <table class="table table-striped table-hover table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th> 视频名称 </th>
                                                                <th> 类别 </th>
                                                                 
                                                                <th> 状态</th>
                                                                <th> 发布时间 </th>
                                                                <th> 视频ID </th>
                                                                <th> 操作 </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        	
                                                        	<empty name='list'>
															<div class="note note-success">
																<h4>暂无视频数据！</h4>
																
															</div>
														<else />														
                                                        	
                                                        <volist name='list' id='vo'>
														
                                                              
                                                               <tr>
                                                                <td>
                                                             <a href='{$vo.share}' target='_blank'>{$vo.title}</a> <span class="label label-info">{$vo.size}MB <i  id="show1" class="fa fa-laptop"></i></span> 
                                                                </td>
                                                                <td>
                                                                {$vo.name}
                                                                </td>
                                                              
       <td class="text-primary"> <i class="fa fa-check-square-o"></i> 已转码 </td>
       <td>  {:tmspan($vo['addtime'])}   </td>
                                                                <td> <span id="copyid{$vo.id}">{$vo.videoid}</span> <a href="javascript:;" data-clipboard-action="copy" data-clipboard-target="#copyid88303" class="mt-clipboard btn btn-sm btn-default"><i class="icon-note"></i>点击复制</a></td>
                                                                	
                                                           
                                                                
                                                                <td>
                                               
       
                 <a href="#long{$vo.id}" data-toggle="modal"  class="btn btn-sm btn-default"> <i class="fa fa-file-picture-o"></i> 预览图 </a>  
                 <a  href="http://api2.my230.com/?vid={$vo.videoid}"   target="_blank" class="btn btn-sm btn-default">  <i class="fa fa-search"></i> 预览 </a>
          <a  href="javascript:vod.vodFav({$vo.id});" class="btn btn-sm btn-default">  <i class="fa fa-heart"></i> 取消收藏 </a>

                                                               
                                                               
                                                               
                                                                </td>
                                                            </tr>
 
                 
  <div id="long{$vo.id}" class="modal fade" tabindex="-1" data-width="600" >
                                        <div class="modal-dialog" style="margin:0px;padding:0px;">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                                    <h4 class="modal-title">来自 {$vo.title} 预览图</h4>
                                                </div>
                                            <div class="modal-body" style="height:350px" >
                                                    <img alt="{$vo.title}" src="{$vo.titlepic}">  
                                                  </div>
  <div class="modal-body">
  	<div class="well" id="copyshare{$vo.id}" style="margin-bottom: 0px;">{$vo.share}
      </div>
  	  	 
  	</div>
         
                                                 <div class="modal-footer">
                                                  <button type="button" href="javascript:;" data-clipboard-action="copy" data-clipboard-target="#copyshare{$vo.id}"  class="mt-clipboard btn btn-success">一键复制</button>
                                                  <button type="button" data-dismiss="modal" class="btn btn-primary">关闭</button>
                                                </div>  
                                          
                                            </div>
                                        </div>
                                    </div>
									</volist>
									</empty>
                                                        </tbody>
                                                    </table>
               
               
                              <div class="row">
                      
                                       <div class="col-md-offset-4 col-md-8">
    	
    	
                                        <ul class="pagination"  style="float:right">
                                            <li>
                                                <a href="http://www.27pan.com/index.php/vod/user/fav/index/0/1">
                                                    <i class="fa fa-angle-left"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="http://www.27pan.com/index.php/vod/user/fav/index/0/1" title="首页">首页</a>
                                            </li>

                                           <li> <li class='active'><a href='http://www.27pan.com/index.php/vod/user/fav/index/0/1' '>1</a></li></li>
                                            <li>
                                                <a href="http://www.27pan.com/index.php/vod/user/fav/index/0/1" >
                                                    <i class="fa fa-angle-right"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    
                                    </div>
                                   
               
 
 
                                        <!--  
                                           <div style="float:right">
                                            <ul class="pagination">
                                                <li>
                                                    <a href="javascript:;">
                                                        <i class="fa fa-angle-left"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;"> 1 </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;"> 2 </a>
                                                </li>
                                                <li class="active">
                                                    <a href="javascript:;"> 3 </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;"> 4 </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;"> 5 </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;"> 6 </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;">
                                                        <i class="fa fa-angle-right"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>-->
                                          
                                                </div>
                                            </div>
                                        
                                        </div>
                                    </div>
                                    
                                </div>
               
                            
                            </div>
                            <!-- End: life time stats -->
                            
                        </div>

                    </div>
            
                    <!-- END PAGE BASE CONTENT -->
                </div>
            <!-- END CONTENT -->
            <!-- BEGIN QUICK SIDEBAR -->
  
            <!-- END QUICK SIDEBAR -->
        </div>
                <div class="page-footer">
            <div class="page-footer-inner"> <script>document.write(new Date().getFullYear());</script>
 &copy; 版权所有
                <a target="_blank" href="http://www.27pan.com">www.27PAN.com</a> &nbsp;|&nbsp;
                 永久免费的CDN多媒体网盘
            </div>
            <div class="scroll-to-top">
                <i class="icon-arrow-up"></i>
            </div>
        </div> 
<!-- END CONTAINER -->
         <!--[if lt IE 9]>
<script src="http://www.27pan.com/assets/global/plugins/respond.min.js"></script>
<script src="http://www.27pan.com/assets/global/plugins/excanvas.min.js"></script> 
<script src="http://www.27pan.com/assets/global/plugins/ie8.fix.min.js"></script> 
<![endif]-->
        <!-- BEGIN CORE PLUGINS -->
        <script src="http://www.27pan.com/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="http://www.27pan.com/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="http://www.27pan.com/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
        <script src="http://www.27pan.com/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="http://www.27pan.com/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="http://www.27pan.com/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="http://www.27pan.com/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="http://www.27pan.com/assets/global/scripts/app.min.js" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="http://www.27pan.com/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <script src="http://www.27pan.com/assets/layouts/layout4/scripts/layout.min.js" type="text/javascript"></script>
        <script src="http://www.27pan.com/assets/layouts/layout4/scripts/demo.min.js" type="text/javascript"></script>
        <script src="http://www.27pan.com/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
        <script src="http://www.27pan.com/assets/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
 
 
    
<script src="http://www.27pan.com/assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js" type="text/javascript"></script>
<script src="http://www.27pan.com/assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js" type="text/javascript"></script>
<script src="http://www.27pan.com/assets/global/plugins/clipboardjs/clipboard.min.js" type="text/javascript"></script>
<script src="http://www.27pan.com/assets/pages/scripts/components-clipboard.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function() {
    	$('#a5').addClass('active');
    });
</script>
</body>
</html> 