
 
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->
<head>
    <meta charset=utf-8>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
      <title>我的视频 - 会员中心</title>
<script type='text/javascript'>var cscms_path='http://www.27pan.com/';</script>
<link rel='stylesheet' href='http://www.27pan.com/packs/layui/css/layui.css'>
<script type='text/javascript' src='http://www.27pan.com/packs/layui/layui.js'></script>
<script type='text/javascript' src='http://www.27pan.com/packs/js/jquery.min.js'></script>
<script type='text/javascript' src='http://www.27pan.com/packs/js/cscms.js'></script>
    <meta name="Keywords" content="27盘,视频cdn,视频网盘,免费视频网盘" />
    <meta name="Description" content="27盘致力打造全国最大的永久免费CDN多媒体加速方案！
" />
            <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="http://www.27pan.com/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="http://www.27pan.com/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="http://www.27pan.com/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="http://www.27pan.com/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
        <link href="http://www.27pan.com/assets/global/plugins/morris/morris.css" rel="stylesheet" type="text/css" />
        <link href="http://www.27pan.com/assets/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css" />
        <link href="http://www.27pan.com/assets/global/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="http://www.27pan.com/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="http://www.27pan.com/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <link href="http://www.27pan.com/assets/layouts/layout4/css/layout.min.css" rel="stylesheet" type="text/css" />
        <link href="http://www.27pan.com/assets/layouts/layout4/css/themes/light.min.css" rel="stylesheet" type="text/css" id="style_color" />
        <link href="http://www.27pan.com/assets/layouts/layout4/css/custom.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME LAYOUT STYLES --> 
         <link href="http://www.27pan.com/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" /> 
     <link href="http://www.27pan.com/assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css" rel="stylesheet" type="text/css" />
    <link href="http://www.27pan.com/assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" type="text/css" />
   
<style>
 
	.mt-element-card .mt-card-item .mt-card-content .mt-card-social ul li a{font-size:14px;color:#678098;} 
	.video-time {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 38px;
    line-height: 41px;
    overflow: hidden;
    width: 100%;
    padding: 0 5%;
    color: #fff;
    font-size: 13px;
    background: url(http://www.27pan.com/assets/pages/img/avatars/shadow4.png) repeat-x 0 1px;
    z-index: 10;
}
	.mt-element-card .mt-card-item .mt-card-content .mt-card-social ul li a:hover{color: #5b9bd1;text-decoration: none;}
	 .modal-body img{
		float:left;
		display:block;
		width:180px;
		height:100px;
		margin: 3px;
		}
	.clear{clear:both}
  .oneline{overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 95%;}
	</style>
</head>
    <body class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo">
        <!-- BEGIN HEADER -->
            <include file="Public/header" />
        

        <!-- END HEADER -->
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN SIDEBAR -->
 <div class="page-sidebar-wrapper">
	<!-- BEGIN SIDEBAR -->
	<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
	<!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
	<include file="Public/left" />
	<!-- END SIDEBAR -->
</div> 
 
            <!-- END SIDEBAR -->
         
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
<div class="page-content">
                    
                    
 <div class="row">
                        <div class="col-md-12">
                            <div class="portlet light bordered">
                                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="fa fa-upload fa-lg font-red"></i>
                                            <span class="caption-subject font-red sbold uppercase">我的视频 &nbsp;</span>
 
                                              <span class="caption-helper"> （你总共上传了  16 部视频） </span>
 
                                        </div>
                                        <div class="actions">
                                        	
                               <div class="btn-group">
                                            <a class="btn red btn-outline  btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false"> 浏览模式
                                                <i class="fa fa-angle-down"></i>
                                            </a>
                                            <ul class="dropdown-menu pull-right">
                                                <li>
                                                  <a href="/index.php/vod/user/vod" >详情模式</a>
                                                </li>
                                                <li class="divider"> </li>
                                                <li>
                                                    <a href="javascript:;" > <i class="fa fa-check"></i> 图文模式</a>
                                                </li>
                                                
                                            </ul>
                                        </div>
                                                                    
                                                                    
                                        </div>
                                    </div>
                                    
                                 <div class="portlet-body">
                                   <div class="tabbable-line">
                           <ul class="nav nav-tabs">
                                      <li class="active"><a href="http://www.27pan.com/index.php/vod/user/vod/pic">全部视频</a></li>
	                                
								               	<li><a href="http://www.27pan.com/index.php/vod/user/vod/pic/1">电影</a></li>
	                                
								               	<li><a href="http://www.27pan.com/index.php/vod/user/vod/pic/2">电视剧</a></li>
	                                
								               	<li><a href="http://www.27pan.com/index.php/vod/user/vod/pic/3">其他视频</a></li>
	                                
								               	<li><a href="http://www.27pan.com/index.php/vod/user/vod/pic/4">成人视频</a></li>
	                                
								               	<li><a href="http://www.27pan.com/index.php/vod/user/vod/pic/28">动漫里番</a></li>
	                                
	                                  </ul>
                               <div class="tab-content">
                                  <div class="portlet-body dataTables_wrapper  ">
                                    <div class="mt-element-card mt-element-overlay">
                           	<div class="note note-success">
                        <h4>暂无视频数据！</h4>
                        
                    </div>
                 
                                      
                                      
                                     
                                 
                                     
                                        </div>
                                        
                                     <div class="row">
                      
                                       <div class="col-md-offset-4 col-md-8">
    	
    	
                                        <ul class="pagination"  style="float:right">
                                            <li>
                                                <a href="http://www.27pan.com/index.php/vod/user/vod/pic/0/1">
                                                    <i class="fa fa-angle-left"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="http://www.27pan.com/index.php/vod/user/vod/pic/0/1" title="首页">首页</a>
                                            </li>

                                           <li> <li class='active'><a href='http://www.27pan.com/index.php/vod/user/vod/pic/0/1'>1</a></li></li>
                                            <li>
                                                <a href="http://www.27pan.com/index.php/vod/user/vod/pic/0/1" >
                                                    <i class="fa fa-angle-right"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    
                                    </div>
                                    
                                    
                                    
                                    
                               
                                    </div>
                                    
                                </div>      	
                                            
                                            </div>
                     
                     

                                    </div>
                                    
                                </div>
                                    
               
                                
                                
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            <!-- END CONTENT -->
            <!-- BEGIN QUICK SIDEBAR -->
  
            <!-- END QUICK SIDEBAR -->
        </div>
                <div class="page-footer">
            <div class="page-footer-inner"> <script>document.write(new Date().getFullYear());</script>
 &copy; 版权所有
                <a target="_blank" href="http://www.27pan.com">www.27PAN.com</a> &nbsp;|&nbsp;
                 永久免费的CDN多媒体网盘
            </div>
            <div class="scroll-to-top">
                <i class="icon-arrow-up"></i>
            </div>
        </div> 
<!-- END CONTAINER -->
         <!--[if lt IE 9]>
<script src="/assets/global/plugins/respond.min.js"></script>
<script src="/assets/global/plugins/excanvas.min.js"></script> 
<script src="/assets/global/plugins/ie8.fix.min.js"></script> 
<![endif]-->
        <!-- BEGIN CORE PLUGINS -->
        <script src="/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
        <script src="/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="/assets/global/scripts/app.min.js" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <script src="/assets/layouts/layout4/scripts/layout.min.js" type="text/javascript"></script>
        <script src="/assets/layouts/layout4/scripts/demo.min.js" type="text/javascript"></script>
        <script src="/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
        <script src="/assets/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
 
 
    
<script src="/assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js" type="text/javascript"></script>
<script src="/assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js" type="text/javascript"></script>
<script src="/assets/global/plugins/clipboardjs/clipboard.min.js" type="text/javascript"></script>
<script src="/assets/pages/scripts/components-clipboard.min.js" type="text/javascript"></script>
<script src="/assets/js/jquery.lazyload.js" type="text/javascript"></script>
<script src="/assets/js/time.js" type="text/javascript"></script>
<script>
 $(function() {
	prepareDynamicDates();
	$(".timeago").timeago();
});
var zeropad = function(num) {
		return ((num < 10) ? '0' : '') + num;
	};
var iso8601 = function(date) {
		return date.getUTCFullYear() + "-" + zeropad(date.getUTCMonth() + 1) + "-" + zeropad(date.getUTCDate()) + "T" + zeropad(date.getUTCHours()) + ":" + zeropad(date.getUTCMinutes()) + ":" + zeropad(date.getUTCSeconds()) + "Z";
	};

function prepareDynamicDates() {
	$('abbr.loaded').attr("title", iso8601(new Date()));
}
 	
</script>
<script type="text/javascript" charset="utf-8">
$(window).ready(function() {
    $("img.lazy").lazyload({
      placeholder : "/assets/img/1.gif"
    });
});
</script>
<script type="text/javascript">
    $(document).ready(function() {
    	$('#a3').addClass('active');
    });
</script>
</body>
</html> 